<!DOCTYPE html>
<html ng-app>
<head>
  <title>Mega Travel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		
</head>
<body>
<center>
	<img class="img-responsive" style="padding:40px;" src="Mega.PNG" alt="some_text" style="width:width;height:height;">
	
		
<form style="padding:10px;">
  <h4>Select Your Destination!</h4>
  <select ng-model="myDest">
    <option value="">
    <option value="Brisbane, Australia">Brisbane, Australia
    <option value="Vancouver, Canada">Vancouver, Canada
    <option value="New York City, USA">New York City, USA
	<option value="Berlin, Germany">Berlin, Germany
	<option value="Cancun, Mexico">Cancun, Mexico
  </select>
 </center>

<center> 
<div ng-switch="myDest">
  <div ng-switch-when="Brisbane, Australia">
     <h1>Brisbane, Australia</h1>
     <p>Please Select Your Activities</p>
	
	<table>
		<tr>
			<th colspan=”2”></th>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="City Tours"></td>
			<td>City Tours</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Sports"></td>
			<td>Sports</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Cycling"></td>
			<td>Cycling</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Museums"></td>
			<td>Museums</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Boating"></td>
			<td>Boating</td>
		</tr>
	</table>
	 
	<br>
  </div>
  <div ng-switch-when="Vancouver, Canada">
     <h1>Vancouver, Canada</h1>
     <p>Please Select Your Activities</p>
	
	<table>
		<tr>
			<th colspan=”2”></th>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Museums"></td>
			<td>Museums</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Sailing"></td>
			<td>Sailing</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Beaches"></td>
			<td>Beaches</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Hiking"></td>
			<td>Hiking</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Boating"></td>
			<td>Boating</td>
		</tr>
	</table>
	 
	<br>
  </div>
  <div ng-switch-when="New York City, USA">
     <h1>New York City, USA</h1>
     <p>Please Select Your Activities</p>
	 <table>
		<tr>
			<th colspan=”2”></th>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Museums"></td>
			<td>Museums</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Theatre"></td>
			<td>Theatre</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Parks & Recreation"></td>
			<td>Parks & Recreation</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="City Tours"></td>
			<td>City Tours</td>
		</tr>
	</table>
	 
	<br>
  </div>
  <div ng-switch-when="Berlin, Germany">
     <h1>Berlin, Germany</h1>
     <p>Please Select Your Activities</p>
	 <table>
		<tr>
			<th colspan=”2”></th>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="City Tours"></td>
			<td>City Tours</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Museums"></td>
			<td>Museums</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Cycling"></td>
			<td>Cycling</td>
		</tr>
	 </table>

	<br>	
  </div>		
  <div ng-switch-when="Cancun, Mexico">
     <h1>Cancun, Mexico</h1>
     <p>Please Select Your Activities</p>
	 <table>
		<tr>
			<th colspan=”2”></th>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Parks & Recreation"></td>
			<td>Parks & Recreation</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Beaches"></td>
			<td>Beaches</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Boating"></td>
			<td>Boating</td>
		</tr>
		<tr>
			<td text-align="center"><input type="checkbox" ng-model="Snorkeling"></td>
			<td>Snorkeling</td>
		</tr>
	</table>
	
	<br>
   </div>
</div>
</center>
<br><br>



			
			
  <h2>Contact Us!</h2>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" class="form-control" id="name" placeholder="Enter First and Last Name">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter primary email">
    </div>
	<div class="form-group">
      <label for="phone">Phone:</label>
      <input type="phone" class="form-control" id="phone" placeholder="Enter primary phone number">
    </div>
	<br>
  <h2>Number of Guests</h2>
    <div class="form-group">
      <label for="adults">Adults:</label>
      <input type="adults" class="form-control" id="adults" placeholder="Guests over the age of 16">
    </div>
	<div class="form-group">
      <label for="children">Children:</label>
      <input type="children" class="form-control" id="children" placeholder="Guests under the age of 16">
    </div>
    <br>
  </form>
</div>
			
<center>	
<h3>Depart</h3>
	<input type="date" id="myDepart" value="YYYY-MM-DD">
			<p id="demo"></p>
			
			
<h3>Return</h3>
	<input type="date" id="myReturn" value="YYYY-MM-DD">
			<p id="demo"></p>			
</center>
			
		<script>
			function myFunction() {
				var x = document.getElementById("myDepart").value;
				document.getElementById("demo").innerHTML = x;
}
        </script>
		
		<script>
			function myFunction() {
				var x = document.getElementById("myReturn").value;
				document.getElementById("demo").innerHTML = x;
}
        </script>
		<br>
		<center>	
            <div>
                <input type="hidden" ng-model="newcontact.id" />
                <input type="button" value="Submit" ng-click="saveContact()" class="btn btn-primary" />
				<input type="reset" value="Reset" class="btn btn-primary" />
			</div>
		</center>	
</form>
        
    </div>

    
            </tbody>
        </table>
    </div>
	<div class="container>
	<br>
  
  </form>
</div>




</body>
</html>
